<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.android.Platinum"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
      <!-- Used for BlotterActivityGroup -->
        <activity android:name=".BlotterActivityGroup"
                  android:label="@string/app_name">
        </activity>
    
        <activity android:name=".WelcomeActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".BlotterActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".AccountBlotterActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".AccountActivityDefault"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".ReportActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".SettingsActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".SettingsIncActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".MainTabWidget"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>